In [1]:
## Creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
list = list()
print(type(list))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
list((1,2,3,4,5,6))
## Error

TypeError: 'list' object is not callable

In [6]:
mixed_tuple = (1, "Hello", 3.14, True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [7]:
## Accessing tuple Elements
numbers

(1, 2, 3, 4, 5, 6)

In [9]:
print(numbers[0])
print(numbers[-1])

1
6

In [10]:
numbers[0:4]

(1, 2, 3, 4)

In [12]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [14]:
## Tuple Operations
concatenation_tuple=  numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello', 3.14, True)

In [15]:
mixed_tuple * 3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [16]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [17]:
## Immutable Nature of Tuples
## tuples are immutable, meaning their eleme,ts cannot be changed once assigned

lst = [1,2,3,4,5]
print(lst)

lst[1] = "Freemem"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Freemem', 3, 4, 5]

In [ ]:
numbers[1] = 'Freemem'
## Error

TypeError: 'tuple' object does not support item assignment

In [23]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [25]:
## Packing and Unpacking tuple

## Packing
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

## Unpacking
a,b,c = packed_tuple
print(a)
print(b)
print(c)

(1, 'Hello', 3.14)
1
Hello
3.14

In [28]:
## Unpacking with *
numbers = (1,2,3,4,5,6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## Nested Tuple
## Nested List

lst = [[1,2,3,4], [6,7,8,9], [1, "Hello", 3.14, "c"]]
lst[0][0:3]

(1, 'Hello', 3.14)

In [34]:
lst = [[1,2,3,4], [6,7,8,9], (1, "Hello", 3.14, "c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [38]:
nested_tuple = ((1,2,3), ("a", "b", "c"), (True, False))
## Access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [45]:
## Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False